<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<section class="section is-small mt-6">
  <section class="hero is-danger">
    <div class="hero-body">
      <div class="tile is-parent">
        <div class="tile is-child box has-text-primary">
          <div class="content">
            <h2 class="subtitle has-text-centered">
              <span class="has-text-weight-normal has-text-primary">Itens que temos</span> 
            </h2>
            <ol type="1">
              <li>Liquidificador</li>
              <li>Batedeira</li>
              <li>Potes de plástico</li>
              <li>Copos de vidro</li>
              <li>Utensílios de silicone</li>
              <li>Talheres</li>
              <li>Cooktop</li>
              <li>Panelas</li>
              <li>Garrafa de café</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="tile is-parent">
        <div class="tile is-child box has-text-primary">
          <div class="content ">
            <h2 class="subtitle has-text-centered">
              <span class="has-text-weight-normal has-text-primary">Sugestões de presentes</span> 
            </h2>
            <ol type="1">
              <% diferenca.forEach(item => { %>
                <li><%= item.Presente %></li>
              <% }) %> 
            </ol>
          </div>
        </div>
      </div>
  </section>
</section>

<%- include('partials/footer.ejs') %>
<%- include('partials/foot.ejs') %>
